/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.neon-border {
    border-color: #1e6312; /* Neon green */
    box-shadow: 0 0 20px rgba(10, 55, 2, 0.5), 0 0 40px rgba(57, 255, 20, 0.4);
  }
  

  .carousel-container {
    position: relative;
    width: 80%; /* Adjust the width as needed */
    margin: auto;
    overflow: hidden; /* Hides the overflow of images */
  }
  
  .carousel {
    display: flex;
  }
  
  .carousel-slide {
    transition: transform 0.5s ease;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
  }
  
  .carousel-button.left {
    left: 10px;
  }
  
  .carousel-button.right {
    right: 10px;
  }
  